@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: url(../img/booking.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Courgette', 'cursive';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../img/blackmenu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
header .toggle.active {
    background: url(../img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.media {
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.media li {
    color: #000;
    list-style: none;
}
.media li a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    transform: scale(0.6);
}
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.navigation.active {
    opacity: 1;
    visibility: visible;
}
.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation ul li {
    list-style: none;

}
.navigation ul li a {
    display: inline-block;
    color: #000;
    font-size: 2em;
    text-decoration: none;
    font-weight: 100;
}
.navigation ul li a:hover {
    color: rgba(0, 153, 255, 0.349)
}